@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* the following code inspired by https://jsfiddle.net/esedic/rLdv29ou/ */

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.swing:hover
{
    -webkit-animation: swing 2s ease;
    animation: swing 2s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* main-container/ main-item */

.main-container{
	display:flex;
	justify-content:center;
}

.main-item{
	padding: 4em;
}

/*nav bar*/

.JKim{
	margin-top: -2em;
	margin-bottom: 5em;

}

.box-item-11 a{
	font-weight: 600;
	margin-right:1em;
}

a {
	color:black;
    text-decoration: none;
    display: inline-block;
	padding: 15px 0px;
	font-size:0.9em;
}

a:hover, a:focus, a:active {
    color:#EA981D;
    transition-duration:0.4s;
}

header a:hover:after, nav a:hover:after {
	width: 100%;
	left: 0;
}

.active {
	color:#EA981D;
}


/*home page banner section */

.banner-text img {
	position: absolute;
	margin-left: 10em;
	margin-top: -7em;
}

.box-item-11 {
	margin-bottom: 8em;
	justify-content:center;
	text-align:center;

}

.box-item-11 p{
	text-align:center;
	justify-content:center;
	font-size: 0.8em;
	width:33em;
}

.banner{
	margin-top:-1em;
	display:flex;
	justify-content:center;
}

/*home page project section */

.container {
	margin-bottom:7em;
}

.container-1{
	padding: 3em;
}

.container-11 p{
	width: 27em;
}

/*about me page */

.box-item-1 {
	order: 1;
	flex: 20%;
	flex-direction: column;
}

.box-item-2 {
	order: 2;
	flex: 15%;
	margin-left: 8em;
	margin-top: -1em;
	flex-direction: column;
}

.box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 7em;
}

/* buttons */

.button {
	margin-top:1em;
	color:#EA981D;
	font-size: 1em;
    padding: 0;
    border: none;
    background: none;
}


.button:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*basic styles */

p {
	line-height: 2em;
	margin-top: 2.5em;
	width: 45em;
	font-weight:normal;
	font-size: 0.9em;
}

body {
	background-color:#FFFFFC;
	font-family:Poppins;
}

h1{
	font-weight:400;
	font-size:5em;
	margin-bottom:0em;
}

h2{
	margin-bottom: 2.5em;
	color:#EA981D;
}

h3 {
	font-size: 23px;
	font-weight:600;
}

hr{
	width:13em;
	border:1px solid #E3E3E3;
}

footer {
	font-size: 0.9em;
}

/*mobile vers */

@media (max-width: 55em) {

	.main-item{
	    flex-basis: 100%;
	    padding: 2em;
    }

	.box-item-11 {
		flex-basis: 100%;
		margin-top: 2em;
		margin-bottom: 4em;
	}

	.box-item-11 p{
		width:100%;
	}

	.box-item-1 {
		flex-basis: 100%;
	}
	
	.box {
		flex-basis:100%;
		margin-bottom: 2em;
	}

	h1{
		font-size:3em;
	}

	h2{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	p{ 
		width:100%;
	}

	h3 {
    	font-size:1.3em;
    	margin-bottom:-1em;
    }

	.container img{
		width:100%;
	}

	.container-11 img{
		width:100%;
	}

	.container-11 p{
		width:100%;
	}

    .container-1 {
    	margin-left: -3em;
    }

    .JKim {
    	margin-top: 0em;
    	margin-left: 0em;
    	margin-bottom:0em;
    }

}

@media (max-width: 1000px) {

	.box-item-2 {
		flex-basis: 100%;
		margin-left: 0em;
		margin-top:1em;
	}
}