
.banner-text img {
	position: absolute;
	margin-left: 11.5em;
	margin-top: -5em;
}

.box h2{
	color: white;
}

.box-item-1 {
	order: 1;
	flex: 20%;
	flex-direction: column;
}

.box-item-2 {
	order: 2;
	flex: 15%;
	margin-left: 8em;
	margin-top: -1em;
	flex-direction: column;
}

.box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 7em;
}

.box-item-11 {
	margin-bottom: 8em;
	max-width: 27.5em;

}

.container-1{
	padding: 3em;
}

.button {
	margin-top: 2em;
	background-color:rgb(24, 24, 24);
	font-size: 0.9em;
    padding: 0;
    border: none;
    background: none;
	transition-property: color;
	transition-duration: 0.3s;
	color: orange;
}

.button:hover, .button:focus, .button:active {
	color: grey;
}

p {
	line-height: 1.7em;
	margin-top: 2.5em;
}

.container img {
	height: 17em;
}

.box p {
	line-height: 1.8em;
	max-width: 26em;
	margin-top: 4em;
	font-weight: lighter;
	font-size: 15px;
}

h2{
	margin-top: -2em;
	margin-bottom: 2.5em;
	color: orange;
}

h3 {
	font-size: 24px;
}

body {
	background-color: rgb(24, 24, 24);
	color: white;
}

@media (max-width: 55em) {

	.main-item{
	    flex-basis: 100%;
	    padding: 2em;
    }

	.box-item-11 {
		flex-basis: 100%;
		margin-top: 2em;
		margin-bottom: 4em;
	}

	h2{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.box-item-1 {
		flex-basis: 100%;
	}

	.box-item-2 {
		flex-basis: 100%;
		margin-left: 0em;
		margin-top:1em;
	}
	
	.box {
		flex-basis:100%;
		margin-bottom: 2em;
	}

	.box-item-1 h2{
		margin-left: 0em;
    }

    .container-1 {
    	margin-left: -3em;
    }

    .JKim {
    	margin-top: -3.3em;
    	margin-left: 0em;
    	margin-bottom:0em;
    }

    h3 {
    	font-size:1.3em;
    	margin-bottom:-1em;
    }

}

@media (max-width: 35em) {

	.container img {
		margin-right: 0em;
		width:100%;
		height:auto;
	}
}