@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.banner-text img {
	position: absolute;
	margin-left: 11.5em;
	margin-top: -5em;
}

.box-item-11 {
	margin-bottom: 8em;
	max-width: 27.5em;

}

.box-item-1 {
	order: 1;
	flex: 20%;
	flex-direction: column;
}

.box-item-2 {
	order: 2;
	flex: 15%;
	margin-left: 8em;
	margin-top: -1em;
	flex-direction: column;
}

.box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 7em;
}

.container {
	margin-bottom:7em;
}

.container-1{
	padding: 3em;
}

.container-11 p{
	width: 27em;
}

.button {
	margin-top:1em;
	color:#EA981D;
	font-size: 0.9em;
    padding: 0;
    border: none;
    background: none;
	transition-property: color;
	transition-duration: 0.3s;
}

.button:hover, .button:focus, .button:active {
	color:black;
}

p {
	line-height: 1.7em;
	margin-top: 2.5em;
	width: 45em;
	font-weight:normal;
}

#projects p{
	font-size: 0.9em;
}

body {
	background-color:#FFFFFC;
	font-family:Poppins;
}

h1{
	font-weight:500;
}

h2{
	margin-bottom: 2.5em;
	color:#EA981D;
}

h3 {
	font-size: 23px;
	font-weight:600;
}

@media (max-width: 55em) {

	.main-item{
	    flex-basis: 100%;
	    padding: 2em;
    }

	.box-item-11 {
		flex-basis: 100%;
		margin-top: 2em;
		margin-bottom: 4em;
	}

	.box-item-1 {
		flex-basis: 100%;
	}
	
	.box {
		flex-basis:100%;
		margin-bottom: 2em;
	}

	h2{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	p{ 
		width:100%;
	}

	h3 {
    	font-size:1.3em;
    	margin-bottom:-1em;
    }

	.container img{
		width:100%;
	}

	.container-11 img{
		width:100%;
	}

	.container-11 p{
		width:100%;
	}

    .container-1 {
    	margin-left: -3em;
    }

    .JKim {
    	margin-top: -3.3em;
    	margin-left: 0em;
    	margin-bottom:0em;
    }

}

@media (max-width: 1000px) {

	.box-item-2 {
		flex-basis: 100%;
		margin-left: 0em;
		margin-top:1em;
	}
}