.main-container{
	display:flex;
	justify-content:center;
}

.main-item{
	padding: 4em;
}

.JKim{
	margin-top: -5em;
	margin-bottom: 5em;

}

.JKim img {
	width: 4em;
}

#desktop-nav {
	width: 35%;
	position: absolute;
	top: 1em;
	right: 0;
}

.active {
	color:#EA981D;
}

img {
	margin-top:2em;
	margin-bottom: 1em;
	margin-right: 2em;
}

p, li {
	font-weight: lighter;
}


@media (max-width: 55em) {

	nav li {
		flex-basis: 100%;
	}

	#desktop-nav {
		width: 70%;
	}
}