.main-container{
	display:flex;
	justify-content:center;
}

.main-item{
	padding: 4em;
}

.JKim{
	margin-top: -5em;
	margin-bottom: 5em;

}

#desktop-nav {
	width: 35%;
	position: absolute;
	top: 1em;
	right: 0;
}

.active {
	color: grey;
}

img {
	margin-top:2em;
	margin-bottom: 1em;
	margin-right: 2em;
}

nav ul {
	margin:0;
	padding: 0;
	display: flex;
}

p, li {
	font-weight: lighter;
}

nav li{
	list-style-type: none;
	margin: 0 1.5vw;
	font-size: 0.9rem;
	font-weight: bolder;
}

a {
	color: white;
    text-decoration: none;
    display: inline-block;
	padding: 15px 0px;
	margin: 0;
	position: relative;
}

a:hover, a:focus, a:active {
    color: grey;
}

header a:hover:after, nav a:hover:after {
	width: 100%;
	left: 0;
}

@media (max-width: 55em) {

	nav li {
		flex-basis: 100%;
	}

	#desktop-nav {
		width: 70%;
	}
}