@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-container{
	display:flex;
	justify-content:center;
}

.main-item{
	padding: 4em;
}

/*logo */

.JKim{
	margin-top: -2em;
	margin-bottom: 5em;
}

.JKim img {
	width: 4em;
}

/*small containers*/

.list {
	width:40em;
}

.grid-container {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3em;
	margin-top:-4em;
}

.grid-item, .grid-item1 {
	width: 27em;
}

.grid-container li {
	line-height:1.8em;
}

/*grey container box */

.container {
	background-color: #F3F3F3;
}

/*sections */

#beta-launch {
	margin-top:-6em;
}

#problem {
	margin-bottom:12em;
	margin-top:16em;
}

#competitive-analysis img{
	margin-top:3em;
}

/* images */

figcaption {
	font-size: 0.8em;
	font-style:italic;
	font-family: poppins;
	margin-top: 0.5em;
	margin-bottom: 2em;
	margin-left: -2.5em;
}

figure img {
	margin-left: -2.5em;
}

.responsive{
	height:auto;
}

.moodboard {
	display:flex;
	flex-wrap:wrap;
}

/*nav bar */

#desktop-nav {
	width: 35%;
	position: absolute;
	top: 1em;
	right: 0;
}

nav ul {
	margin:0;
	padding: 0;
	display: flex;
}

nav li{
	list-style-type: none;
	margin: 0 1.5vw;
	font-size: 0.9rem;
	font-weight: 600;
}

a {
	color:black;
    text-decoration: none;
    display: inline-block;
	padding: 15px 0px;
	margin: 0;
	position: relative;
}

a:hover, a:focus, a:active {
    color:#EA981D;
    transition-duration:0.4s;
}

header a:hover:after, nav a:hover:after {
	width: 100%;
	left: 0;
}

.active {
	color:#EA981D;
}

/*About us page*/

.boxx {
	display:flex;
	flex-wrap:wrap;
}

.box-item-1 {
	width: 30em;
	margin-right: 4em;
}

.box-item-2 {
	margin-top:2em;
}

/*banner section */

.banner-text{
	margin-top: -2.5em;
}

		/*project description container */

		.container-1 {
			max-width: 850px;
			display:flex;
			flex-wrap:wrap;
			margin-top:2em;
		}

		.container-1 p{
			font-size: 0.9em;
		}

		.container-1 li{
			font-size: 0.9em;
		}

		/*context section */

		.box {
			flex: 25%;
			flex-direction:column;
			margin-right: 4em;
		}

		/*overview section */

		.box1 {
			flex:40%;
			flex-direction:column;
		}

/*button section */

.buttons {
	margin-bottom: 1em;
	background-color: #F3F3F3;
	font-weight: bolder;
    padding: 0;
    border: none;
	transition-property: color;
	transition-duration: 0.3s;
}

.buttonz {
	margin-top: 2em;
}

.button:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.button {
	margin-bottom: 1em;
	background-color: white;
	font-weight: bolder;
    padding: 0;
    border: none;
	transition-property: color;
	transition-duration: 0.3s;
}

@keyframes shake {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.box li {
	line-height: 1.5em;
	list-style-type: none;
	margin-left: -2.3em;
}

.main-item img {
	margin-top: -1em;
}

/*footer */

.footer-container {
  display:flex;
  margin-right:2em;
}

.footer-item1 {
  margin-left:1em;
  margin-top:-0.5em;
}

.footer-item2 {
  margin-left:1em;
}

.footer img {
	width:2em;
}
/*basic styles section */

h1 {
	font-size: 28px;
	font-family: Poppins;	
}

h2 {
	margin-bottom: 1em;
	font-family: Poppins;	
	font-weight:600;
	font-size: 2em;
}

h3 {
	margin-top: 3em;
	margin-bottom: 1.5em;
	font-size: 1.4em;
	font-family: Poppins;
	font-weight:600;
}

.margin-header {
	margin-bottom:-1em;
	margin-top:4em;
}

h4 {
	font-family: Poppins;
	font-size:1.1em;
}

h5 {
	font-weight: lighter;
	font-size: 16px;
	margin-top: 1em;
	margin-bottom: 3.5em;
}

p {
	max-width: 800px;
	line-height: 1.9em;
	margin-bottom: 3em;
	font-weight: lighter;
	font-size:0.95em;
}

li {
	margin-bottom: 1.3em;
	margin-left:-1em;
	line-height: 1.9em;
	font-weight: lighter;
	font-size:0.95em;
}

section {
	margin-bottom:9em;
}

html {
  scroll-behavior: smooth;
}

a{
	color:black;
}

.topb a {
	color:black;
	font-size: 1.3em;
	font-family: Poppins;	
	transition-duration: 0.5s;
}

.topb a:hover {
	color:grey;
	transition-duration: 0.5s;
}

.high-fidelity{
	padding:3em;
	margin-top:-5em;
	align-content:center;
}

.high-fidelity img {
	width:100%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1200px) {

    .reponsive img{
    	width: 100%;
    }
}

@media (max-width: 57em) {

	.main-item{
	    padding: 1.5em;
	    flex-basis: 100%;
    }

    .high-fidelity{
		padding:1.5em;
	}

    .banner-text {
    	margin-top: 1em;
	}

    h1 {
    	font-size: 1.45em;
    }

    .margin-header{
    	margin-top:2em;
    	margin-bottom:-1em;
    }

    h2{
    	font-size:1.7em;
    }

    h3 {
    	margin-top:3em;
    	font-size:1.3em;
    }

    img{
    	width: 100%;
    }

    p{
    	width: 100%;
    	font-size: 14px;
    }

    figcaption {
    	margin-top: 0.3em;
    	max-width: 30em;
    	font-size:0.9em;
    }

    figure {
    	width:100%;
    }

    section {
    	margin-bottom:3.5em;
    }

    li {
    	font-size: 14px;
    	margin-left: -1em;
    }

    .list {
		width:100%;
	}

    .preview {
    	margin-top: 3em;
    }

    #body {
    	margin-top:-4em;
    }

    .box li {
		margin-left: -3em;
    }

    .JKim {
    	margin-top: 0.5em;
    	margin-bottom: 0em;
    }

    .topb {
    	text-align:center;
    }

    .box1 {
    	flex-basis:100%;
    	margin-top:-1em;
    }

    .container-1 {
    	margin-top:0em;
    }

    .grid-container {
		grid-template-columns: 1fr;
		grid-column-gap: 3em;
		margin-top:-3em;
    }

	.grid-item, .grid-item1 {
		width: 100%;
	}

	.grid-item1 {
		margin-top:-2em;
	}

	#problem {
		margin-bottom:0em;
		margin-top:0em;
	}

	#problem img {
		display:none;
	}

    /*about-us page */

    .box-item-1 {
		width: 100%;
		margin-right: 4em;
	}

    nav li {
		flex-basis: 100%;
	}

	#desktop-nav {
		width: 70%;
	}
}